<table class="table table-hover">
    <thead>
        <tr>
            <th>Flight No</th>
            <th>Depart From</th>
            <th>Depart City</th>
            <th>Depart Time</th>
            <th>Arrive At</th>
            <th>Arrive City</th>
            <th>Arrive Time</th>
            <th>Total Time</th>
            <th>Layovers</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>SQ324</td>
            <td>SIN</td>
            <td>SINGAPORE</td>
            <td>10 OCTOBER 2016 23:55</td>
            <td>AMS</td>
            <td>AMSTERDAM</td>
            <td>10 OCTOBER 2016 07:15</td>
            <td>13h 20mins</td>
            <td>0</td>
            <td><a href="/Flights/One" class="btn btn-primary">More Details</a></td>
        </tr>
        <tr>
            <td>SQ324</td>
            <td>SIN</td>
            <td>SINGAPORE</td>
            <td>11 OCTOBER 2016 23:55</td>
            <td>AMS</td>
            <td>AMSTERDAM</td>
            <td>11 OCTOBER 2016 07:15</td>
            <td>13h 20mins</td>
            <td>0</td>
            <td><a href="/Flights/One" class="btn btn-primary">More Details</a></td>
        </tr>
        <tr>
            <td>SQ324</td>
            <td>SIN</td>
            <td>SINGAPORE</td>
            <td>12 OCTOBER 2016 23:55</td>
            <td>AMS</td>
            <td>AMSTERDAM</td>
            <td>12 OCTOBER 2016 07:15</td>
            <td>13h 20mins</td>
            <td>0</td>
            <td><a href="/Flights/One" class="btn btn-primary">More Details</a></td>
        </tr>
        <tr>
            <td>SQ324</td>
            <td>SIN</td>
            <td>SINGAPORE</td>
            <td>13 OCTOBER 2016 23:55</td>
            <td>AMS</td>
            <td>AMSTERDAM</td>
            <td>13 OCTOBER 2016 07:15</td>
            <td>13h 20mins</td>
            <td>0</td>
            <td><a href="/Flights/One" class="btn btn-primary">More Details</a></td>
        </tr>
        <tr>
            <td>SQ324</td>
            <td>SIN</td>
            <td>SINGAPORE</td>
            <td>14 OCTOBER 2016 23:55</td>
            <td>AMS</td>
            <td>AMSTERDAM</td>
            <td>14 OCTOBER 2016 07:15</td>
            <td>13h 20mins</td>
            <td>0</td>
            <td><a href="/Flights/One" class="btn btn-primary">More Details</a></td>
        </tr>
        <tr>
            <td>SQ324</td>
            <td>SIN</td>
            <td>SINGAPORE</td>
            <td>15 OCTOBER 2016 23:55</td>
            <td>AMS</td>
            <td>AMSTERDAM</td>
            <td>15 OCTOBER 2016 07:15</td>
            <td>13h 20mins</td>
            <td>0</td>
            <td><a href="/Flights/One" class="btn btn-primary">More Details</a></td>
        </tr>
    </thead>
    <tbody id="flightTableBody"></tbody>
</table>